@{
    ViewData["Title"] = "Glasses Page";
}

<!-- Our  Glasses section -->
<div class="glasses">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="titlepage">
                    <h2>Our Glasses</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor
                        e et dolore magna aliqua. Ut enim ad minim veniam, qui
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <figure><img src="images/glass1.png" alt="#" /></figure>
                    <h3><span class="blu">$</span>50</h3>
                    <p>Sunglasses</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <figure><img src="images/glass2.png" alt="#" /></figure>
                    <h3><span class="blu">$</span>50</h3>
                    <p>Sunglasses</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <figure><img src="images/glass3.png" alt="#" /></figure>
                    <h3><span class="blu">$</span>50</h3>
                    <p>Sunglasses</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <figure><img src="images/glass4.png" alt="#" /></figure>
                    <h3><span class="blu">$</span>50</h3>
                    <p>Sunglasses</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <figure><img src="images/glass5.png" alt="#" /></figure>
                    <h3><span class="blu">$</span>50</h3>
                    <p>Sunglasses</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <figure><img src="images/glass6.png" alt="#" /></figure>
                    <h3><span class="blu">$</span>50</h3>
                    <p>Sunglasses</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <figure><img src="images/glass7.png" alt="#" /></figure>
                    <h3><span class="blu">$</span>50</h3>
                    <p>Sunglasses</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <figure><img src="images/glass8.png" alt="#" /></figure>
                    <h3><span class="blu">$</span>50</h3>
                    <p>Sunglasses</p>
                </div>
            </div>
            <div class="col-md-12">
                <a class="read_more" href="#">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- end Our  Glasses section -->