
<div id="suitable" class="home-suitable">
    <div class="container discover-tips-content-wrapper">
        <div class="frame-shape-container">
            <div class="frame-shape-content">
                <div id="how-to-pick" class="discover-title-container frame-shape-title-container">
                    <div class="clearfix">
                        <h1>How to Pick Glasses for Your Face Shape</h1>
                        <div class="share-icon-content">
                            <div class="share-icon">
                                <span class="s1"></span>
                                <span class="s2"></span>
                                <span class="s3"></span>
                                <span class="s4"></span>
                                <span class="s5"></span>
                            </div>
                            <div class="share-details">
                                <a class="js-share" data-ga4event-platform="Facebook" aria-label="facebook share"  data-event-cate="Product Page" data-event-name="Social" data-event-label="Facebook Logo" data-url="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.eyebuydirect.com%2Fguides%2Fframes-and-face-shapes&amp;t=EyeBuyDirect.com"><i class="im im-social im-facebook"></i></a>
                                <a class="js-share" data-ga4event-platform="Twitter" aria-label="Twitter share"  data-event-cate="Product Page" data-event-name="Social" data-event-label="Twitter Logo" data-url="https://twitter.com/intent/tweet?text=What+Is+My+Face+Shape%3F+Glasses+For+Your+Perfect+Fit https%3A%2F%2Fwww.eyebuydirect.com%2Fguides%2Fframes-and-face-shapes"><i class="im im-social im-twitter"></i></a>
                            </div>
                        </div>

                        <script>document.addEventListener('DOMContentLoaded', function () {
                                $(".share-icon").on('click', function () {
                                    $(this).toggleClass("open");
                                    $('.share-details').toggleClass('slide');
                                });
                                $('.js-share').on('click', function (e) {
                                    e.preventDefault();
                                    ga4Events.shareTipsAndGuides($(this).data('ga4event-platform'));
                                    window.open($(this).data('url'));
                                });
                            });</script>
                    </div>

                    <p>Need a hand finding the best glasses for your face shape? No worries — with our guide, you'll see there's a frame for everyone and we can help you find your perfect fit. So whatever face shape you have, you can be sure there’s a pair out there made just for you!</p>

                </div>
                <!-- video -->

                <div class="video-content-container js-video-control">
                    <div class="video-container">
                        <picture>
                            <!--[if IE 9]><video style='display: none'><![endif]-->
                            <source media="(min-width: 768px)" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/face-shapes-banner.jpg?q=85">
                            <source media="(min-width: 300px)" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/face-shapes-banner-m.jpg?q=85">
                            <!--[if IE 9]></video><![endif]-->
                            <img fetchpriority="high" data-event-cate="Video" data-event-name="Lens Coatings" data-event-label="Coatings Video" class="video-img" src="https://img.ebdcdn.com/image/upload/static/images/discover/tips/face-shapes-banner.jpg?q=85" alt="Frame and face shapes" title="Frame and face shapes">
                        </picture>
                        <div class="video-play"></div>
                        <div class="video-content none">

                        </div>
                    </div>
                    <!--<div data-event-cate='Video' data-event-name='Lens Coatings' data-event-label='Coatings Video' class="video-text-content">
                        Frame and face shapes         <div class="play-img-container">
                            <img class="play pause" src="https://img.ebdcdn.com/image/upload/static/images/discover/tips/video-play-m.png?q=85" alt="Play">
                        </div>
                        <span class="video-desc">Frame and face shapes</span>

                    </div>-->
                    <script type="application/ld+json">
    {
        @*"@context": "http://schema.org",
        "@type": "VideoObject",*@
        "name": "Frame and face shapes",
        "description": "Frame and face shapes",
        "thumbnailUrl": [
          "https://img.ebdcdn.com/image/upload/static/images/discover/tips/face-shapes-banner.jpg?q=85",
          "https://img.ebdcdn.com/image/upload/static/images/discover/tips/face-shapes-banner-m.jpg?q=85"
         ],
        "uploadDate": "2018-01-04T08:00:00+08:00",
        "embedUrl": "https://www.youtube.com/embed/KUjQzHnWjL0?rel=0&border=0&autoplay=true"
      }
                    </script>
                </div>
                <script>document.addEventListener('DOMContentLoaded', function () {
                        $('.js-video-control').on('click', function () {
                            var $videoUrl = '<iframe src="https://www.youtube.com/embed/KUjQzHnWjL0?rel=0&border=0&autoplay=true" frameborder="0" allowfullscreen></iframe>';
                            $('.video-text-content').hide();
                            $('.video-play').hide();
                            $('.video-content').append($videoUrl).show();
                        });
                    });</script>                <div id="what-face-shape" class="frame-shape-guide">
                    <h2>What is my face shape?</h2>
                    <p>It’s likely you have one of the following face shapes: Oval, square, round, heart, or diamond. By taking a peek  in the mirror at your facial features, you can determine your face shape. Once you know, you’ll be able to answer the age-old question: Which glasses look good on me?</p>
                    <p>But remember, the suggestions in this guide aren’t hard and fast rules —  when it comes to choosing a frame, you should go with your instincts. Expressing your personal style can be a fun way of bringing out your personality and letting your unique self shine through your frames.</p>
                </div>
            </div>
            <ul class="frame-shape-list">

                <li class="clearfix shape-details">
                    <div class="frame-shape-title">
                        <h3>Glasses for all kinds of shapes</h3>
                    </div>
                    <div class="shape-img-container">
                        <picture class="shape-all-img">
                            <!--[if IE 9]><video style='display: none'><![endif]-->
                            <source media="(min-width: 768px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-all.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-all.png?q=85">
                            <source media="(min-width: 300px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-all-m.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-all-m.png?q=85">
                            <!--[if IE 9]></video><![endif]-->
                            <img class=" lazyloaded" src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-all.png?q=85" data-src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-all.png?q=85" alt="Glasses for all kinds of shapes">
                        </picture>
                    </div>
                    <div class="shape-details-content shape-details-content-all">
                        <p>The truth about face shapes is that almost no one is a perfect heart, circle, square, or any other narrowly defined category. Most faces are a combination of a few different shapes: Rounded chins and tall foreheads, angular features, tapered jaws, and so on.</p>
                        <p>Trying to pick just one stock image out of a lineup can feel impossible. What you should do is aim to find the shape that looks the most like yours. Even if your chin is a little more pointed than the “typical” oval, or if your forehead is a little wider than the “usual” inverted triangle —  these are all just guidelines to help you determine how to balance and complement your features, not unbreakable rules.</p>
                        <p>Once you’ve recognized your face shape, you can find which frame shape will bring a natural balance to your features. This guide will help identify the type of glasses for face shapes you might consider when browsing our range.</p>
                    </div>

                </li>
                <!-- Oval -->
                <li id="oval-faces" class="clearfix shape-details">
                    <div class="frame-shape-title">
                        <h3>Which glasses shapes suit oval faces?</h3>
                    </div>
                    <div class="shape-img-container">
                        <picture class="shape-img">
                            <!--[if IE 9]><video style='display: none'><![endif]-->
                            <source media="(min-width: 768px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-oval.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-oval.png?q=85">
                            <source media="(min-width: 300px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-oval-m.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-oval-m.png?q=85">
                            <!--[if IE 9]></video><![endif]-->
                            <img class=" lazyloaded" src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-oval.png?q=85" data-src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-oval.png?q=85" alt="Glasses for oval faces">
                        </picture>
                    </div>
                    <div class="shape-details-content">
                        <p>People with oval faces fit with most frame shapes. A face with an oval shape features higher and slightly wider cheekbones that are slightly narrower towards the forehead. This long, rounded face shape allows you to pull off almost any style — especially oversized and wide frames.</p>
                        <p>With an oval face shape, feel free to go bold with a funky color, texture or frame shape. Square, trapezoid, tortoise, and rectangular — the possibilities are endless! Our only advice is to steer clear of narrow frames and frames with heavy design elements. They might add a bit of unnecessary length to your oval face. But considering this is the most universal face shape, have fun with the latest trends — and remember, these are only suggestions! Always wear what makes you feel best.</p>
                        <p>As for sunglasses for your oval face shape — have fun with your eyewear choices! Dare to be bold with a statement-making style, like a fierce cat-eye or an edgy pair of aviators. Or keep it cool and classic with a more basic look like an iconic D-frame.</p>
                        <div class="read-more">
                            Read more
                        </div>
                    </div>
                    <div class="shape-recomend">
                        <div class="glass-img-content glass-img-content-oval">
                            <picture class="glass-img">
                                <!--[if IE 9]><video style='display: none'><![endif]-->
                                <source media="(min-width: 768px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-oval-glass.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-oval-glass.png?q=85">
                                <source media="(min-width: 300px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-oval-glass-m.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-oval-glass-m.png?q=85">
                                <!--[if IE 9]></video><![endif]-->
                                <img class=" lazyloaded" src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-oval-glass.png?q=85" data-src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-oval-glass.png?q=85" alt="Glasses for oval faces">
                            </picture>
                            <span class="img-txt img-txt-one">Choose a bold shape that compliments your style</span>
                            <span class="img-txt img-txt-two">Wide frames work great with your features</span>
                            <span class="img-txt img-txt-three">Steer clear of heavy design elements</span>
                        </div>
                        <div class="glass-link-group">
                            <a class="btn btn-box" href="#">Glasses for oval faces</a>
                            <a class="btn btn-box" href="#">Sunglasses for oval faces</a>
                        </div>
                    </div>
                    <div class="light-icon-desc-container">
                        <div class="light-icon-desc oval-light-icon-desc clearfix">
                            <div class="light-icon">
                                <ins class="im"></ins>
                            </div>
                            <div class="suggestion-container">
                                <div class="suggestion-content">
                                    <div class="suggestion-details">
                                        <span>Our suggestions for oval face:</span>
                                        <span class="oval-suggess-two"><a href="#" class="primary">Rectangle,</a> <a href="#" class="primary">Oval,</a> <a href="#" class="primary">Square,</a> <a href="#" class="primary">Round,</a> <a href="#" class="primary">Large</a> and <a href="#" class="primary">Horn</a></span>
                                    </div>
                                    <div class="suggestion-img">
                                        <picture>
                                            <!--[if IE 9]><video style='display: none'><![endif]-->
                                            <source media="(min-width: 768px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/oval.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/oval.png?q=85">
                                            <source media="(min-width: 300px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/oval-2x.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/oval-2x.png?q=85">
                                            <!--[if IE 9]></video><![endif]-->
                                            <img class=" lazyloaded" src="https://img.ebdcdn.com/image/upload/static/images/discover/tips/oval.png?q=85" data-src="https://img.ebdcdn.com/image/upload/static/images/discover/tips/oval.png?q=85" alt="Oval">
                                        </picture>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
                <!-- Square -->
                <li id="square-faces" class="clearfix shape-details">
                    <div class="frame-shape-title">
                        <h3>Which glasses shapes suit square faces?</h3>
                    </div>
                    <div class="shape-img-container">
                        <picture class="shape-img">
                            <!--[if IE 9]><video style='display: none'><![endif]-->
                            <source media="(min-width: 768px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-square.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-square.png?q=85">
                            <source media="(min-width: 300px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-square-m.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-square-m.png?q=85">
                            <!--[if IE 9]></video><![endif]-->
                            <img class=" lazyloaded" src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-square.png?q=85" data-src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-square.png?q=85" alt="Glasses for square faces">
                        </picture>
                    </div>
                    <div class="shape-details-content">
                        <p>Many different kinds of glasses shapes suit square faces. After all, it's hip to be square! If you have a square-shaped face, many great pairs of eyeglasses can flatter your features. Square faces often have bold, angular features and cut a clean, straight line from the forehead to the jaw.</p>
                        <p>When it comes to proportion, square faces are widest along the jaw and forehead. Due to this shape being defined by a strong jawline, glasses that sit high on the nose add length that flatters this type of face.</p>
                        <p>To draw focus to your strongest features, choose a rounded, rather than angular, frame. A round or oval eyeglass frame will soften as well as add contrast to your angular features, making your best features shine. Rimless and semi-rimless styles are a great place to start.</p>
                        <p class="detail-title">Sunglasses for square face shapes</p>
                        <p>If you’re looking for sunglasses for a square face, choose curved frame designs that are wider — these will help soften sharp angles and balance your cheekbones. For a bold statement, give cat-eye shades a go.</p>
                        <div class="read-more">
                            Read more
                        </div>
                    </div>
                    <div class="shape-recomend">
                        <div class="glass-img-content glass-img-content-square">
                            <picture class="glass-img">
                                <!--[if IE 9]><video style='display: none'><![endif]-->
                                <source media="(min-width: 768px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-square-glass.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-square-glass.png?q=85">
                                <source media="(min-width: 300px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-square-glass-m.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-square-glass-m.png?q=85">
                                <!--[if IE 9]></video><![endif]-->
                                <img class=" lazyloaded" src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-square-glass.png?q=85" data-src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-square-glass.png?q=85" alt="Glasses for square faces">
                            </picture>
                            <span class="img-txt img-txt-one">Choose a thinner frame that won’t overwhelm</span>
                            <span class="img-txt img-txt-two">Soften your angular features with rounder frames</span>
                            <span class="img-txt img-txt-three">Ensure the width is slightly wider than your cheekbones</span>
                        </div>
                        <div class="glass-link-group">
                            <a class="btn btn-box" href="#">Glasses for square faces</a>
                            <a class="btn btn-box" href="#">Sunglasses for square faces</a>
                        </div>
                    </div>
                    <div class="light-icon-desc-container">
                        <div class="light-icon-desc clearfix">
                            <div class="light-icon">
                                <ins class="im"></ins>
                            </div>
                            <div class="suggestion-container">
                                <div class="suggestion-content">
                                    <div class="suggestion-details">
                                        <span>Our suggestions for square face:</span>
                                        <span><a href="#" class="primary">Oval,</a> <a href="#" class="primary">Round</a> and <a href="#" class="primary">Large</a></span>
                                    </div>
                                    <div class="suggestion-img">
                                        <picture>
                                            <!--[if IE 9]><video style='display: none'><![endif]-->
                                            <source media="(min-width: 768px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/square.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/square.png?q=85">
                                            <source media="(min-width: 300px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/square-2x.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/square-2x.png?q=85">
                                            <!--[if IE 9]></video><![endif]-->
                                            <img class=" lazyloaded" src="https://img.ebdcdn.com/image/upload/static/images/discover/tips/square.png?q=85" data-src="https://img.ebdcdn.com/image/upload/static/images/discover/tips/square.png?q=85" alt="Square">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <!-- Round -->
                <li id="round-faces" class="clearfix shape-details">
                    <div class="frame-shape-title">
                        <h3>Which glasses shapes suit round faces?</h3>
                    </div>
                    <div class="shape-img-container">
                        <picture class="shape-img">
                            <!--[if IE 9]><video style='display: none'><![endif]-->
                            <source media="(min-width: 768px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-round.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-round.png?q=85">
                            <source media="(min-width: 300px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-round-m.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-round-m.png?q=85">
                            <!--[if IE 9]></video><![endif]-->
                            <img class=" lazyloaded" src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-round.png?q=85" data-src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-round.png?q=85" alt="Glasses for round faces">
                        </picture>
                    </div>
                    <div class="shape-details-content">
                        <p>Round faces feature soft curves and smooth lines, with a face that is roughly the same width from the jaw up through to the brow. With round faces, the cheeks are usually full and the chin is rounded with very few angles. Unlike some other face shapes, a round face is often very distinguished because it’s all about the curves.</p>
                        <p class="detail-title">Styling tips for round face shapes</p>
                        <p>The most important thing to consider when choosing glasses for round face shapes is to select frames that work to add angles — try styles with bold, angular details and clean lines.</p>
                        <p>Here are some tips to keep in mind:</p>
                        <ul>
                            <li><p>Rectangular frames: Break up the face structure, which can make your face appear longer and thinner.</p></li>
                            <li><p>Angular and geometric frames: Add some sharper, more distinct lines to your face in order to create a balance.</p></li>
                            <li><p>Upswept frames such as cat-eye: If you have full-bodied curvy cheeks, try to draw attention to them while simultaneously placing the focus on your eyes.</p></li>
                        </ul>
                        <div class="read-more">
                            Read more
                        </div>
                    </div>
                    <div class="shape-recomend">
                        <div class="glass-img-content glass-img-content-round">
                            <picture class="glass-img">
                                <!--[if IE 9]><video style='display: none'><![endif]-->
                                <source media="(min-width: 768px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-round-glass.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-round-glass.png?q=85">
                                <source media="(min-width: 300px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-round-glass-m.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-round-glass-m.png?q=85">
                                <!--[if IE 9]></video><![endif]-->
                                <img class=" lazyloaded" src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-round-glass.png?q=85" data-src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-round-glass.png?q=85" alt="Glasses for round faces">
                            </picture>
                            <span class="img-txt img-txt-one">Choose frames that have bold, angular lines</span>
                            <span class="img-txt img-txt-two">Sharpen your softer features with rectangular frames</span>
                            <span class="img-txt img-txt-three">Ensure the bottom hits just above your cheekbones</span>
                        </div>
                        <div class="glass-link-group">
                            <a class="btn btn-box" href="#">Glasses for round faces</a>
                            <a class="btn btn-box" href="#">Sunglasses for round faces</a>
                        </div>
                    </div>
                    <div class="light-icon-desc-container">
                        <div class="light-icon-desc clearfix">
                            <div class="light-icon">
                                <ins class="im"></ins>
                            </div>
                            <div class="suggestion-container">
                                <div class="suggestion-content">
                                    <div class="suggestion-details">
                                        <span>Our suggestions for round face:</span>
                                        <span><a href="#" class="primary">Rectangle,</a> <a href="#" class="primary">Square</a> and <a href="#" class="primary">Oval</a></span>
                                    </div>
                                    <div class="suggestion-img">
                                        <picture>
                                            <!--[if IE 9]><video style='display: none'><![endif]-->
                                            <source media="(min-width: 768px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/round.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/round.png?q=85">
                                            <source media="(min-width: 300px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/round-2x.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/round-2x.png?q=85">
                                            <!--[if IE 9]></video><![endif]-->
                                            <img class=" lazyloaded" src="https://img.ebdcdn.com/image/upload/static/images/discover/tips/round.png?q=85" data-src="https://img.ebdcdn.com/image/upload/static/images/discover/tips/round.png?q=85" alt="Round">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <!-- Heart-Shaped -->
                <li id="heart-faces" class="clearfix shape-details">
                    <div class="frame-shape-title">
                        <h3>Which glasses suit heart-shaped faces?</h3>

                    </div>
                    <div class="shape-img-container">
                        <picture class="shape-img">
                            <!--[if IE 9]><video style='display: none'><![endif]-->
                            <source media="(min-width: 768px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-heart.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-heart.png?q=85">
                            <source media="(min-width: 300px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-heart-m.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-heart-m.png?q=85">
                            <!--[if IE 9]></video><![endif]-->
                            <img class=" lazyloaded" src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-heart.png?q=85" data-src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-heart.png?q=85" alt="Glasses for heart faces">
                        </picture>
                    </div>
                    <div class="shape-details-content">
                        <p>There are many glasses that fit heart-shaped faces. Heart-shaped faces are widest at the forehead with a narrow chin and high cheekbones. This is typically thought of as the most versatile of all the face shapes.</p>
                        <p class="detail-title">Styling tips for heart face shapes</p>
                        <p>Heart-shaped faces look great in winged-out frames that flare out slightly wider than their forehead, and frames with rounded bases to balance and complement their features such as:</p>
                        <ul>
                            <li><p>Bottom-heavy frames: If your chin is especially narrow, you may wish to create a bit more width.</p></li>
                            <li><p>Frames with low-set temples: If you’re conscious of your forehead’s width, choosing this style will draw attention downward, emphasizing the lower part of your face.</p></li>
                            <li><p>Oval-shaped frames: If you have a narrow chin, an oval frame shape will balance your features by drawing attention upward toward your eyes.</p></li>
                            <li><p>Light-colored or rimless frames: Perfect for minimizing the look of glasses with a barely-there frame.</p></li>
                        </ul>
                        <p class="detail-title">Sunglasses for heart face shapes</p>
                        <p>Find frames that are proportionate to your face by looking for styles that have a deep base, and subtle wingtips that are slightly wider than your forehead. P.S. Aviators are a great option.</p>
                        <div class="read-more">
                            Read more
                        </div>
                    </div>
                    <div class="shape-recomend">
                        <div class="glass-img-content glass-img-content-heart">
                            <picture class="glass-img">
                                <!--[if IE 9]><video style='display: none'><![endif]-->
                                <source media="(min-width: 768px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-heart-glass.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-heart-glass.png?q=85">
                                <source media="(min-width: 300px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-heart-glass-m.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-heart-glass-m.png?q=85">
                                <!--[if IE 9]></video><![endif]-->
                                <img class=" lazyloaded" src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-heart-glass.png?q=85" data-src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-heart-glass.png?q=85" alt="Glasses for heart faces">
                            </picture>
                            <span class="img-txt img-txt-one">Ensure the width is slightly wider than your forehead for balance</span>
                            <span class="img-txt img-txt-two">A modified Wayfarer shape works great with your features</span>
                            <span class="img-txt img-txt-three">Choose frames with rounded bases on the lower portion</span>
                        </div>
                        <div class="glass-link-group glass-link-group-fr">
                            <a class="btn btn-box" href="#">Glasses for heart faces</a>
                            <a class="btn btn-box" href="#">Sunglasses for heart faces</a>
                        </div>
                    </div>
                    <div class="light-icon-desc-container">
                        <div class="light-icon-desc clearfix">
                            <div class="light-icon">
                                <ins class="im"></ins>
                            </div>
                            <div class="suggestion-container">
                                <div class="suggestion-content">
                                    <div class="suggestion-details">
                                        <span>Our suggestions for heart-shaped face:</span>
                                        <span><a href="#" class="primary">Rectangle,</a> <a href="#" class="primary">Oval</a> and <a href="#" class="primary">Round</a></span>
                                    </div>
                                    <div class="suggestion-img">
                                        <picture>
                                            <!--[if IE 9]><video style='display: none'><![endif]-->
                                            <source media="(min-width: 768px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/heart-shaped.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/heart-shaped.png?q=85">
                                            <source media="(min-width: 300px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/heart-shaped-2x.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/heart-shaped-2x.png?q=85">
                                            <!--[if IE 9]></video><![endif]-->
                                            <img class=" lazyloaded" src="https://img.ebdcdn.com/image/upload/static/images/discover/tips/heart-shaped.png?q=85" data-src="https://img.ebdcdn.com/image/upload/static/images/discover/tips/heart-shaped.png?q=85" alt="Heart-Shaped">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <!-- Diamond -->
                <li id="diamond-faces" class="clearfix shape-details">
                    <div class="frame-shape-title">
                        <h3>Which glasses suit diamond-shaped faces?</h3>
                    </div>
                    <div class="shape-img-container">
                        <picture class="shape-img">
                            <!--[if IE 9]><video style='display: none'><![endif]-->
                            <source media="(min-width: 768px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-diamond.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-diamond.png?q=85">
                            <source media="(min-width: 300px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-diamond-m.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-diamond-m.png?q=85">
                            <!--[if IE 9]></video><![endif]-->
                            <img class=" lazyloaded" src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-diamond.png?q=85" data-src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-diamond.png?q=85" alt="Glasses for diamond faces">
                        </picture>
                    </div>
                    <div class="shape-details-content">
                        <p>Diamond-shaped faces tend to have narrower foreheads than most and defined cheekbones with angular jawlines. The key is to create a balance with your features and eyeglasses shape when it comes to choosing the style for you. Many glasses frames suit diamond-shaped faces. Diamond-shaped faces are the rarest face shape and are characterized by their full cheeks and narrow forehead and jawline.</p>
                        <p>The best look for a diamond face shape is a rimless or oval frame with a strong browline. These shapes will help balance your face and highlight your favorite attributes. Play up your unique features with fun and funky frames — like a horn rim or cat-eye style — but keep them delicate to prevent them from over accentuating bold characteristics.</p>
                        <p>When it comes to choosing sunglasses for diamond-shaped faces, there are plenty of styles to choose from, just like eyeglasses. Top-heavy browline frames will work well to contrast with your cheekbones, oval are great for a subtle but effective touch, and cat-eye and rectangle are also great options.  The eyewear inspiration is endless and our Virtual Try-On tool is always on hand to see the style that works for you.</p>
                        <div class="read-more">
                            Read more
                        </div>
                    </div>
                    <div class="shape-recomend">
                        <div class="glass-img-content glass-img-content-diamond">
                            <picture class="glass-img">
                                <!--[if IE 9]><video style='display: none'><![endif]-->
                                <source media="(min-width: 768px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-diamond-glass.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-diamond-glass.png?q=85">
                                <source media="(min-width: 300px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-diamond-glass-m.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-diamond-glass-m.png?q=85">
                                <!--[if IE 9]></video><![endif]-->
                                <img class=" lazyloaded" src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-diamond-glass.png?q=85" data-src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-diamond-glass.png?q=85" alt="Glasses for diamond faces">
                            </picture>
                            <span class="img-txt img-txt-one">Choose a unique shape that compliments your style</span>
                            <span class="img-txt img-txt-two">Cat-eye frames work great with your features</span>
                            <span class="img-txt img-txt-three">Keep it clear and simple for your characteristics to shine</span>
                        </div>
                        <div class="glass-link-group glass-link-group-two">
                            <a class="btn btn-box" href="#">Glasses for diamond faces</a>
                            <a class="btn btn-box" href="#">Sunglasses for diamond faces</a>
                        </div>
                    </div>
                    <div class="light-icon-desc-container">
                        <div class="light-icon-desc clearfix">
                            <div class="light-icon">
                                <ins class="im"></ins>
                            </div>
                            <div class="suggestion-container">
                                <div class="suggestion-content">
                                    <div class="suggestion-details">
                                        <span class="diamond-suggess-one">Our suggestions for diamond-shaped face:</span>
                                        <span><a href="#" class="primary">Rectangle,</a> <a href="#" class="primary">Oval</a> and <a href="#" class="primary">Horn</a></span>
                                    </div>
                                    <div class="suggestion-img">
                                        <picture>
                                            <!--[if IE 9]><video style='display: none'><![endif]-->
                                            <source media="(min-width: 768px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/diamond.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/diamond.png?q=85">
                                            <source media="(min-width: 300px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/diamond-2x.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/diamond-2x.png?q=85">
                                            <!--[if IE 9]></video><![endif]-->
                                            <img class=" lazyloaded" src="https://img.ebdcdn.com/image/upload/static/images/discover/tips/diamond.png?q=85" data-src="https://img.ebdcdn.com/image/upload/static/images/discover/tips/diamond.png?q=85" alt="Diamond">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>

                <!-- bof Triangle -->
                <li id="Triangle-faces" class="clearfix shape-details">
                    <div class="frame-shape-title">
                        <h3>Which glasses suit triangle-shaped faces?</h3>

                    </div>
                    <div class="shape-img-container">
                        <picture class="shape-img">
                            <!--[if IE 9]><video style='display: none'><![endif]-->
                            <source media="(min-width: 768px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-triangle.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-triangle.png?q=85">
                            <source media="(min-width: 300px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-triangle-m.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-triangle-m.png?q=85">
                            <!--[if IE 9]></video><![endif]-->
                            <img class=" lazyloaded" src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-triangle.png?q=85" data-src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-triangle.png?q=85" alt="Glasses for triangle faces">
                        </picture>
                    </div>
                    <div class="shape-details-content">
                        <p>Triangle face shapes have a wide, square jawline —  but unlike square faces, they usually have a narrow forehead. If you think you have a triangle face shape, our range of styles is ideal for bringing out your best features and maximizing your look to its full potential.</p>
                        <p>Wider frames are a good bet for triangle face shapes, as they help the top of your face look broader. To add width to a narrow forehead, try frames that are heavily accented with color and details on the top. That’ll work nicely with the lower third of your face to add balance to your look.</p>
                        <p>Glasses that are bold on top and lighter on the bottom are ideal for this kind of face shape, such as aviators or cat-eyes. If you want to make a bolder statement, a round style offers an interesting contrast to angular features.</p>
                        <p class="detail-title">Sunglasses for triangle face shapes</p>
                        <p>Balance your features with a pair of sunnies that are the complete opposite in structure; look for designs that are widest at the top and narrowest at the bottom, like cat-eye sunglasses shapes. Sunglasses with a wider or bolder browline will draw attention away from your jawline and elongate your forehead.</p>
                        <div class="read-more">
                            Read more
                        </div>
                    </div>
                    <div class="shape-recomend">
                        <div class="glass-img-content glass-img-content-triangle">
                            <picture class="glass-img">
                                <!--[if IE 9]><video style='display: none'><![endif]-->
                                <source media="(min-width: 768px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-triangle-glass.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-triangle-glass.png?q=85">
                                <source media="(min-width: 300px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-triangle-glass-m.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-triangle-glass-m.png?q=85">
                                <!--[if IE 9]></video><![endif]-->
                                <img class=" lazyloaded" src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-triangle-glass.png?q=85" data-src="https://img.ebdcdn.com/image/upload/static/images/discover/shapes/shape-triangle-glass.png?q=85" alt="Glasses for triangle faces">
                            </picture>
                            <span class="img-txt img-txt-one">Ensure the width is slightly wider than your jawline for balance</span>
                            <span class="img-txt img-txt-two">Choose frames with detailing on the upper portion</span>
                            <span class="img-txt img-txt-three">Browline or cateye frames work great with your features.</span>
                        </div>
                        <div class="glass-link-group glass-link-group-two">
                            <a class="btn btn-box" href="#">Glasses for triangle faces</a>
                            <a class="btn btn-box" href="#">Sunglasses for triangle faces</a>
                        </div>
                    </div>
                    <div class="light-icon-desc-container">
                        <div class="light-icon-desc clearfix">
                            <div class="light-icon">
                                <ins class="im"></ins>
                            </div>
                            <div class="suggestion-container">
                                <div class="suggestion-content">
                                    <div class="suggestion-details">
                                        <span class="diamond-suggess-one">Our suggestions for triangle-shaped face:</span>
                                        <span><a href="#" class="primary">Aviator,</a> <a href="#" class="primary">Horn</a> and <a href="#" class="primary">Browline</a></span>
                                    </div>
                                    <div class="suggestion-img">
                                        <picture>
                                            <!--[if IE 9]><video style='display: none'><![endif]-->
                                            <source media="(min-width: 768px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/triangle.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/triangle.png?q=85">
                                            <source media="(min-width: 300px)" data-srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/triangle-2x.png?q=85" srcset="https://img.ebdcdn.com/image/upload/static/images/discover/tips/triangle-2x.png?q=85">
                                            <!--[if IE 9]></video><![endif]-->
                                            <img class=" lazyloaded" src="https://img.ebdcdn.com/image/upload/static/images/discover/tips/triangle.png?q=85" data-src="https://img.ebdcdn.com/image/upload/static/images/discover/tips/triangle.png?q=85" alt="Diamond">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>

        </div>
    </div>
</div>