@page "/login/"
@model LoginModel

@{
    ViewData["Title"] = "Login";
    // ErrorMessage
    // this.TempData["ErrorMessage"]
    // this.TempData.ContainsKey("ErrorMessage")

    var notify = TempData["ErrorMessage"];
}

@*<h1>@ViewData["Title"]</h1>*@
@if (TempData.ContainsKey("ErrorMessage"))
{
    <partial name="/Areas/Identity/Pages/Account/_StatusMessage.cshtml" model="notify" />
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header custom-header bg-blu"><h1 class="text-center font-weight-bold my-4 text-white">Login</h1></div>
                <div class="card-body">
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.UserNameOrEmail" class="form-control" autocomplete="username" id="UserNameOrEmail" aria-required="true">
                            <label asp-for="Input.UserNameOrEmail"></label>
                            <span asp-validation-for="Input.UserNameOrEmail" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" id="Password" aria-required="true">
                            <label asp-for="Input.Password"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="form-check mb-3">
                            <input class="form-check-input" asp-for="Input.RememberMe" id="RememberMe">
                            <label class="form-check-label" asp-for="Input.RememberMe"></label>
                        </div>

                        <div class="d-flex justify-content-between">
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot Password?</a>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="text-center">
                        <p>
                            Do not have an account?
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                        @*<p>Or login with:</p>
                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                            <i class="fa fa-facebook-f"></i>
                        </button>

                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                            <i class="fa fa-google"></i>
                        </button>

                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                            <i class="fa fa-twitter"></i>
                        </button>

                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                            <i class="fa fa-github"></i>
                        </button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
