@page "/confirm-register.html"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<h1>@ViewData["Title"]</h1>
<p>
    You need to access your email to authenticate your account.
</p>


