@{
    ViewData["Title"] = "About Page";
}

<!-- about section -->
<div class="about">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-5">
                <div class="about_img">
                    <figure><img src="images/about_img.png" alt="#" /></figure>
                </div>
            </div>
            <div class="col-md-7">
                <div class="titlepage">
                    <h2>About Our Shop</h2>
                    <p>
                        Welcome to our eyewear store, where style meets functionality and quality craftsmanship is paramount.
                        <br />
                        <br />
                        At our store, we pride ourselves on offering an extensive range of eyewear options to cater to every individual's unique style and vision needs. Whether you're searching for fashionable sunglasses to elevate your look or durable prescription glasses to enhance your vision, we have something for everyone.
                    </p>
                </div>
            </div>

            <div class="col-md-12">
                <p class="text-justify">
                    <br />
                    <br />
                    Our collection features a diverse selection of eyeglasses and sunglasses from renowned brands and emerging designers alike. From timeless classics to the latest trends, we curate our inventory to ensure that our customers have access to the most sought-after styles on the market.
                    <br />
                    <br />
                    In addition to our wide range of eyewear options, we prioritize customer satisfaction above all else. Our team of knowledgeable staff members is dedicated to providing personalized assistance to help you find the perfect pair of glasses that not only complements your face shape and style preferences but also addresses your specific vision requirements.
                    <br />
                    <br />
                    Furthermore, we understand the importance of affordability without compromising on quality. That's why we offer competitive pricing on all our products, ensuring that you can enjoy premium eyewear without breaking the bank.
                    <br />
                    <br />
                    Whether you're shopping for yourself or searching for the perfect gift for a loved one, our store is your one-stop destination for all your eyewear needs. We invite you to explore our collection online or visit us in-store to experience firsthand the unparalleled selection and exceptional service that sets us apart from the rest.
                    <br />
                    <br />
                    Thank you for choosing our eyewear store. We look forward to helping you find the perfect pair of glasses that not only enhances your vision but also reflects your unique sense of style.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- about section -->